.Sidenav {
   position: fixed;
   background: var(--dark-clr);
   width: 30%;
   height: 100%;
   z-index: 100;
   top: 0px;
   transform: translateX(-102%);
   transition: transform 200ms cubic-bezier(0, 0, 0.71, 1.04);
   padding: 2rem;
   visibility: visible;

   &.active {
      visibility: visible;
      transform: translateX(0%);
   }

   &__inner {

   }

   &__signup-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5rem;

      & > div:last-child {
         width: 4rem;
         height: 4rem;
         color: var(--main-clr);

         & > svg {
            height: 100%;
            width: 100%;
         }
      }
   }

   &__links {
      list-style: none;
   }
   
   &__link {
      position: relative;

      &::before {
         content: "";
         height: 1px;
         width: 100%;
         background-color: var(--main-clr);

         position: absolute;
         bottom: 0;
         left: 0;
         transform: scaleX(0);
         transform-origin: center;
         transition: transform .2s linear;
      }

      &:hover::before {
         transform: scaleX(1);
      }

      & > a {
         font-size: 1.4rem;
         text-transform: uppercase;
         color: var(--main-clr);
         text-decoration: none;

         display: block;
         padding: 1.5rem;
      }
   }
}