.alert {
   width: 50vw;
   height: 50vh;
   background-color: var(--dark-clr);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 200;

   text-align: center;
   color: var(--main-clr);
   padding: 2rem;

   & > p {
      font-size: 2rem;
   }
}